name: CI
on: [push]
jobs:
  tests:
    name: "Test contracts with Clarinet"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: "Execute unit tests"
        uses: docker://hirosystems/clarinet:latest
        with:
          args: test --coverage --manifest-path=./Clarinet.toml

      - name: "Export code coverage"
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.lcov
          verbose: true

      - name: Remove coverage report
        shell: bash
        run: |
          rm coverage.lcov

      - name: create Testnet configuration
        shell: bash
        run: |
          echo '[network]
          name = "testnet"
          node_rpc_address = "https://stacks-node-api.testnet.stacks.co"
          deployment_fee_rate = 10

          [accounts.deployer]
          mnemonic = "$STXSECRETKEY"
          ' > settings/Testnet.toml

      - name: "Deploy on Testnet"
        uses: docker://hirosystems/clarinet:latest
        with:
          args: publish --testnet --manifest-path=./Clarinet.toml
